---
title: Spendenshop
category: p-donations-shop
---

{{pagemeta meta.donations-shop}}

{{> _topbar}}

<div class="content">

	<div class="wrapper minigrid shopgrid">

		{{#each donations-shop.items}}
			<div class="col w3 phone-4 item">
				{{#if headline}}
					<h1>{{headline}}</h1>
					<p>{{{text}}}</p>
				{{else}}
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<h3>{{title}}</h3>
					<h4 class="is-greyed">{{price}} EUR</h4>
					<img src="img/icons/no-img.png" alt="">
					{{#with .}}
					{{!--
					{{> _paypal-form-de}}
					--}}
					{{/with}}
					<input type="submit" value="Jetzt kaufen" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<input type="hidden" name="cmd" value="_xclick">
					<input type="hidden" name="business" value="mail@bowlofcompassion.org">
					<input type="hidden" name="lc" value="US">
					<input type="hidden" name="item_name" value="{{title}}">
					<input type="hidden" name="amount" value="{{price}}">
					<input type="hidden" name="currency_code" value="{{#if currency}}{{currency}}{{else}}EUR{{/if}}">
					<input type="hidden" name="button_subtype" value="services">
					<input type="hidden" name="no_note" value="0">
					<input type="hidden" name="tax_rate" value="0.000">
					<input type="hidden" name="charset" value="utf-8">
					<input type="hidden" name="shipping" value="0.00">
					<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
					<!--<input type="submit" value="Jetzt kaufen" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">-->
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
				{{/if}}
			</div>

		{{/each}}

	</div>
</div>

