<div class="content">
	<div class="wrapper minigrid">
		<div class="col w3">
			<img src="{{overview.mission.img}}" style="height: 128px;">
			<h2>{{overview.mission.headline}}</h2>
			<p>{{overview.mission.text}}</p>
		</div>
		<div class="col w3">
			<img src="{{overview.education.img}}" style="height: 128px;">
			<h2>{{overview.education.headline}}</h2>
			<p>{{overview.education.text}}</p>
		</div>
		<div class="col w3">
			<img src="{{overview.meals.img}}" style="height: 128px;">
			<h2>{{overview.meals.headline}}</h2>
			<p>{{overview.meals.text}}</p>
		</div>
		<div class="col w3">
			<img src="{{overview.donate.img}}" style="height: 128px;">
			<h2>{{overview.donate.headline}}</h2>
			<p>{{overview.donate.text}}</p>
		</div>
	</div>
</div>