<div class="content b-overview">
	<div class="wrapper minigrid">
		<div class="col w3">
			<a href="{{meta.mission.filename}}">
				<img src="{{overview.mission.img}}" style="height: 128px;">
				<h2>{{overview.mission.headline}}</h2>
				<p>{{overview.mission.text}}</p>
			</a>
		</div>
		<div class="col w3">
			<a href="{{meta.schools.filename}}">
				<img src="{{overview.education.img}}" style="height: 128px;">
				<h2>{{overview.education.headline}}</h2>
				<p>{{overview.education.text}}</p>
			</a>
		</div>
		<div class="col w3">
			<a href="{{meta.soupkitchen.filename}}">
				<img src="{{overview.meals.img}}" style="height: 128px;">
				<h2>{{overview.meals.headline}}</h2>
				<p>{{overview.meals.text}}</p>
			</a>
		</div>
		<div class="col w3">
			<a href="{{meta.donate.filename}}">
				<img src="{{overview.donate.img}}" style="height: 128px;">
				<h2>{{overview.donate.headline}}</h2>
				<p>{{overview.donate.text}}</p>
			</a>
		</div>
	</div>
</div>