<header id="topbar">
	<div class="wrapper">
		<a href="/" id="logo"><h1>Bowl of Compassion</h1></a>
		<nav>
			<ul>
	{{#each menu.items}}

				<li class="{{class}}{{#if active}} active{{/if}}"><a href="{{href}}">{{text}}</a>
				{{#if items}}
					<ul>
						{{#each items}}
							<li class="{{#if active}} active{{/if}}"><a href="{{href}}">{{text}}</a></li>
						{{/each}}
					</ul>
				{{/if}}
				</li>
	{{/each}}
			</ul>
		</nav>
	</div>
</header>